<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
    <h1>Update a student's data</h1>
    <form method="post">
        <p>
            Roll:
            <input type="text" name="roll">
        </p>
        <p>
            Age:
            <input type="text" name="age">
        </p>
        <p>
            Weight:
            <input type="text" name="weight">
        </p>
        <p>
            Height:
            <input type="text" name="height" placeholder="In cms">
        </p>
        <a href="url_for('show_rec')"><button class="create_btn" type="submit">Update</button></a>
    </form>
    </div>
</body>
</html>